@import "tailwindcss";

:root {
  --text: #f1efeb;
  --background: #14120d;
  --primary: #cac4b1;
  --secondary: #505e40;
  --accent: #8eaa83;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
